/** mobile wijzigingen **/

@media screen and (max-width: 576px) {

    .navbar-fixed-top{
        left:0;
        right:0;
    }

  h2{
      padding:0.8em 0em 0em 0.5em;
  }

   .button{
       margin-left:0px;
   } 

   label{
    margin-top:0.5em;
    margin-bottom: 0em;
}

input, select, textarea{
    width: 100%;
 
}

table{
    width: 100%;
}
}