/*body*/

/*navigatie */

.top-navbar{

    background-color: #fff;
    min-height: 100px;
    padding:0 10px;
    border-bottom: 5px solid #57bcca;
    z-index: 15;
}


/*----*/
.bg-light{
    background:#fff !important;
}

/*-- slider --*/
#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin:0;
    left:0;

}